<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <meta name="description" content="<%= htmlWebpackPlugin.options.description %>">
</head>
<body id="home" class="wide">
  <!-- Webpack te permite agregar código EJS en tus HTML, más info http://ejs.co -->
  <div id="preloader">
    <div id="preloader-status">
        <div className="spinner">
            <div className="rect1"></div>
            <div className="rect2"></div>
            <div className="rect3"></div>
            <div className="rect4"></div>
            <div className="rect5"></div>
        </div>
        <div id="preloader-title">Loading</div>
    </div>
  </div>
  <div id="root"></div>
</body>
</html>
